/* CSS declarations go here */
body {
  background-image: linear-gradient(45deg, rgb(244, 156, 20) 0%, rgb(241, 196, 15) 100%);
  width: 100vw;
  min-width: 700px;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  margin-top: 40px;
}

p {
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.intro {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.fake-notification {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.26);
  width: 300px;
  height: auto;
  color: #788692;
  padding: 10px;
}

.fake-notification h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fake-notification p {
  color: #788692;
  line-height: 20px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* app declarations go here */

section.app {
  width: 700px;
  background-color: #fff;
  margin: 0 auto;
  height: 600px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.26);

}

.controls {
  height: 45px;
  display: block;
  background-color: #FBFBFB;
  border-bottom: 1px solid #d0d4d9;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.26);
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}