/* CSS declarations go here */
body {
  background-image: linear-gradient(45deg, rgb(244, 156, 20) 0%, rgb(241, 196, 15) 100%);
  width: 100vw;
  min-width: 700px;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  margin-top: 40px;
}

p {
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.intro {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.fn-contain {
  position: fixed;
  right: 30px;
  top: 30px;
}

.fake-notification {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.26);
  width: 300px;
  height: auto;
  color: #788692;
  padding: 10px;
  z-index: 99999;
  margin-bottom: 20px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fake-notification p {
  color: #788692;
  line-height: 20px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

::selection {
  background: #FF9800;
}

/* app declarations go here */

section.app {
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  height: 600px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.26);
  position: relative;
  color: #788692;
}

.controls {
  height: 45px;
  display: block;
  background-color: #FBFBFB;
  border-bottom: 1px solid #d0d4d9;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.26);
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.controls .right {
  float: right;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.controls span {
  padding-top: 15px;
  display: inline-block;
}

.notification {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #d0d4d9;
}

.notification p {
  color: #788692;
  line-height: 20px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.left-hover-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 25%;
  top: 0;
}

.left-hover-controls {
  display: none;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.01) 98%, transparent 100%);
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.left-hover-container:hover .left-hover-controls {
  display: block;
}

.right-hover-container {
  position: absolute;
  right: 0;
  height: 100%;
  width: 45%;
  top: 0;
}

.right-hover-controls {
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.01) 98%, transparent 100%);
  position: absolute;
  right: 0;
  top: 0px;
  height: 100%;
  width: 100%;
  display: none;
}

.right-hover-container:hover .right-hover-controls {
  display: block;
}

.notification i {
  background-color: white;
  padding: 8px 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
  font-size: 16px;
  position: relative;
  left: 25%;
  top: 38%;
  margin-left: 5px;
  transition: 0.5s color;
  cursor: pointer;
}

.right-hover-controls i {
  margin-left: 15px;
  left: 17%;
}

.danger:hover {
  transition: all 400ms;
  color: rgb(232, 76, 61);
}

.edit:hover {
  transition: all 400ms;
  color: rgb(53, 152, 220);
}

.time:hover {
  transition: all 400ms;
  color: rgb(241, 196, 15);
}

.test:hover {
  transition: all 400ms;
  color: rgb(47, 204, 113);
}


/* add notification */

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.26);
  border-radius: 4px;
  z-index: 9999;
}

.add-content,
.delete-content {
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 12px;
  padding-bottom: 15px;
  margin: 0 auto;
  top: 130px;
  width: 300px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.26);

}

label,
label input,
label textarea {
  display: block;
}

label {
  padding-top: 10px;
  font-size: 16px;
}

input,
textarea {
  color: #788692;
  border: 2px solid #d0d4d9;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  width: 277px;
  margin-top: 10px;
}

button {
  padding: 6px 8px;
  border-radius: 4px;
  background: #788692;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}